aside, article, section, header, footer, nav {
    display: block;
}

html, body, h1, h2, h3, p {
    margin: 0;
	padding: 0;
}
html {
    background: gray;
}
aside {
    width: 300px;
	border: 1px solid #000;
	padding: 20px;
	margin-bottom: 20px;
	font-size: 85%;
}
body {
    font-family: Arial;
	font-size: 100%;
	width: 600px;
	background: white;
	/* margin: 0 auto; */
	padding: 0 25px;
}

article {
    padding: 0 35px;
}
header h1 {
    background: #42403E;
	text-align:center;
	line-height: 75px;
	color: white;
}
h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.4em;
}
h1, h2 {
    font-family: Tahoma;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 1em;
}
h3 {
    font-size: 1.2em;
    font-family: Georgia;
	font-weight: normal;
	margin-bottom: 1em;
}
p {
    font-size: 1em;
	color: black;
	line-height: 1.6;
	margin-bottom: 1em;
}
footer {
    background: #42403E;
	padding: 10px 0;
	color: white;
	text-align: center;
}
/* everywhere where p goes after footer */
footer p {
    color: white;
}
/* adjacent selectors -- in the same parent */
h2 + p, h3 + p {
    margin-top: .6em;
	font-style: italic;
}

/* attribute selectors */
a {
    text-decoration: none;
	color: black;
}

/*
a[href^="http://"] {
    color: red;
}
a[title="visit vk profile"] {
    color: red;
}
a[href$=".docx"] {
    color: red;
}
a[title*="visit"] {
    color: red;
}
*/
a:hover {
    color: gray;
}
a[href*="_docs"] {
    color: green;
}
p[class~="red"] {
    color: red;
}
p[class~="red"]:hover {
    color: green;
}
/* DOM -- structural representation of the elements on the page -- TREE*/
/* Pseudo-class selectors -- target elements that lie outside of the DOM

dynamic -->
:hover
a:hover
ul a:hover

UI element state -->

Structural -->
li:nth-child(odd) {
color: red;
}

other -->

 */

 
 /* pseudo-class selectors */
nav p a:link {
    text-decoration: none;
	background: maroon;
	color: white;
	display: block;
	padding: 5px 10px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2px;
}
nav p a:visited {
    color: black;
}
nav p a:hover {
    background: orange;
}
nav p a:active {
    background: green;
} 
/* structural pseudo-class selectors --> check browser compatibility */
span:first-child {
    font-size: 1.3em;
	font-weight: bold;
	color: maroon;
}
h3:first-of-type {
    border-bottom: 1px solid #42403E;
}
/* usually if there is first-of-type, there must be "last-of-type also" */
p:only-child {
    font-style: italic;
	text-align: center;
}
/* pseudo-element selector :: --> not in IE8*/
h3 + p::first-line {
    font-family: Georgia;
	font-style: italic;
}
h3 + p::first-letter, h2 + p::first-letter {
    font-size: 3em;
	font-family: Georgia;
	float: left;
	padding: 10px 5px 0 0;
}
/* generating content */
/*
section a::after, ul a::after {
    content: " (outside link)";
	color: #666;
	font-size: .9em;
}

*/

section a[href^="http://"]::after, ul a[href^="http://"]::after {
    content: " ["attr(href) "]";
	color: #666;
	font-size: .9em;
}

