/* @font-face rule declarations */

@font-face {
    font-family: '3dumbregular';
    src: url('_fonts/web_fonts/3dumb_regular_macroman/3Dumb-webfont.eot');
    src: url('_fonts/web_fonts/3dumb_regular_macroman/3Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('_fonts/web_fonts/3dumb_regular_macroman/3Dumb-webfont.woff') format('woff'),
         url('_fonts/web_fonts/3dumb_regular_macroman/3Dumb-webfont.ttf') format('truetype'),
         url('_fonts/web_fonts/3dumb_regular_macroman/3Dumb-webfont.svg#3dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: '2dumbregular';
    src: url('_fonts/web_fonts/2dumb_regular_macroman/2Dumb-webfont.eot');
    src: url('_fonts/web_fonts/2dumb_regular_macroman/2Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('_fonts/web_fonts/2dumb_regular_macroman/2Dumb-webfont.woff') format('woff'),
         url('_fonts/web_fonts/2dumb_regular_macroman/2Dumb-webfont.ttf') format('truetype'),
         url('_fonts/web_fonts/2dumb_regular_macroman/2Dumb-webfont.svg#2dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;

}

html, body, h1, h2, h3, p {
    margin: 0;
	padding: 0;
}
html {
    background: gray;
}
body {
    
}
aside {
    width: 300px;
	border: 1px solid #000;
	padding: 20px;
	margin-bottom: 20px;
	font-size: 85%;
}
.banner {
    position:absolute;
	background-color:#40D0e0;
    left:80%;
	top:20%;
	padding:10px;
	margin-right:50px;
	border-radius:6px;
	text-align:justify;

}


/* font stack -->  Arial, Helvetica, monospace, cursive, fantasy, sans-serif 
serif and sans-serif --> all have them
*/
body {
    font-family: '2dumbregular',Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height:1.6;
	width: 800px;
	background: white;
	margin: 0 auto;
	padding: 0 25px;
	
}

article {
    padding: 0 35px;
}
header h1 {
    background: #42403E;
	text-align:center;
	line-height: 75px;
	color: white;
}
h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.4em;
}
h1, h2 {
    font-family: '3dumbregular';
	font-weight: normal;
	font-style: italic;
	margin-bottom: 1em;
}
h3 {
    font-size: 1.2em;
    font-family: '3dumbregular';
	font-weight: bold;
	margin-bottom: 1em;
}
p {
    font-size: 1em;
	color: black;
	line-height: 1.6;
	margin-bottom: 1em;
}
footer {
    background: #42403E;
	padding: 10px 0;
	color: white;
	text-align: center;
}
/* everywhere where p goes after footer */
footer p {
    color: white;
}
/* adjacent selectors -- in the same parent */
h2 + p, h3 + p {
    margin-top: .6em;
	font-style: italic;
}

/* attribute selectors */
a {
    text-decoration: none;
	color: black /*!important*/;
}

/*
a[href^="http://"] {
    color: red;
}
a[title="visit vk profile"] {
    color: red;
}
a[href$=".docx"] {
    color: red;
}
a[title*="visit"] {
    color: red;
}
*/
a:hover {
    color: gray;
}
a[href*="_docs"] {
    color: green;
}
p[class~="red"] {
    color: red;
}
p[class~="red"]:hover {
    color: green;
}
/* DOM -- structural representation of the elements on the page -- TREE*/
/* Pseudo-class selectors -- target elements that lie outside of the DOM

dynamic -->
:hover
a:hover
ul a:hover

UI element state -->

Structural -->
li:nth-child(odd) {
color: red;
}

other -->

 */

 
 /* pseudo-class selectors */
nav p a:link {
    text-decoration: none;
	background: maroon;
	color: white;
	display: block;
	padding: 5px 10px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2px;
}
nav p a:visited {
    color: black;
}
nav p a:hover {
    background: orange;
}
nav p a:active {
    background: green;
} 
/* structural pseudo-class selectors --> check browser compatibility */
span:first-child {
    font-size: 1.3em;
	font-weight: bold;
	color: maroon;
}
h3:first-of-type {
    border-bottom: 1px solid #42403E;
}
/* usually if there is first-of-type, there must be "last-of-type also" */
p:only-child {
    font-style: italic;
	text-align: center;
}
/* pseudo-element selector :: --> not in IE8*/
h3 + p::first-line {
    font-family: '3dumbregular';
	font-style: italic;
}
h3 + p::first-letter, h2 + p::first-letter {
    font-size: 3em;
	font-family: '3dumbregular';
	float: left;
	padding: 10px 5px 0 0;
}
/* generating content */
/*
section a::after, ul a::after {
    content: " (outside link)";
	color: #666;
	font-size: .9em;
}

*/

section a[href^="http://"]::after, ul a[href^="http://"]::after {
    content: " ["attr(href) "]";
	color: #666;
	font-size: .9em;
}

/* CONFLICTS
cascade: last style applied wins <link> --> <style> --> inline

inheritance: when tags within a parent tag inherit properties unless overriden --> body {color: green;}
p { will have color: green by default} but child always wins if overriden

specificity:

selector	ID	class	elements	specificity
body		0		0		1		1
#mainContent 1		0		0		100
.quote		0		1		0		10
div p		0		0		2		2
#sidebar p	1		0		1		101


IMPORTANT DECLARATION
p {
    color: red !important;
}
*/

.dashed{
    text-decoration:none;
    color:#0088CC;
    border-bottom:1px dashed #0088CC;
}
.dashed:hover{
    border-bottom:none;
}
#uList {
    list-style: none;
}
