html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* 
Selectors:

div p --> targeting paragraphs within a div

div + p --> p following immediately after div

@font-face, @media inline rules group elements

div p, h1 group selector

@media screen and (min-width: 720px) {
	h1 {font-size: 2em; color: blue;}
	p {font-size: 1em; color: black;}
}

h1, h2, p {font-family: Georgia;}
body {font-family: Georgia;}

h1 {font-size: 1.4em;}
h2 {margin: 25px;}
ul {padding: 1.4em;}
p {line-height: 1.5;}

absolute values -- inches, cm, mm, pt

relative units -- em (default size of the font, e.g. 1em==16px -- in the default 
browser setting), px,gd (grids), ch(aracters)

up to the default device setting
body {font-size: 100%;}
h1 {font-size: 1.6em;}
h2 {font-size: 1.4em;}
h3 {font-size: 1.2em;}
p {font-size: 1em;}


h1 {
    font-size: 2em;			--> if defice font size: 16 px --> 2x16 = 32px
	margin-bottom: 1em;		--> thus 32px!!!
}

ex --> based on the "x-height" of a font.
root ems -- same as ems, but relative to root unit -- e.g. body, not element's 
immediate parent. not fully supported yet

percentages --> e.g. 80% of its parent element -- sensitive towards device's screen size
 */

 /*
body {
    font-family: Arial;
	color: gray;
}
div h3 {
    color: green;
}
h2 {
    color: maroon;
}
*/

/* element selector */
aside, article, section, header, footer, nav {
    display: block;
}

html, body, h1, h2, h3, p {
    margin: 0;
	padding: 0;
}
html {
    background: gray;
}
aside {
    width: 300px;
	border: 1px solid #000;
	padding: 20px;
	margin-bottom: 20px;
	font-size: 85%;
}
body {
    font-family: Arial;
	font-size: 100%;
	width: 600px;
	background: white;
    margin:0  auto;
}
/*
no conflict:
body {font-size: 120%;} -- first takes default and applies 120%
p {font-size: 1.4em;} -- then gets 120% increased value and applie 1.4 to it
*/


article {
    padding: 0 25px;
}
h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.4em;
}
h1, h2 {
    font-family: Georgia;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 1em;
}
/* 
font-size: xx-small;
x-small;
small
medium
large;
x-large;
font-size: xx-large;
 */
.aside2 {
    position:absolute;
	background-color:#4DD9E8;
    left:80%;
	top:20%;
	padding:10px;
	margin-right:50px;
	border-radius:6px;
	text-align:justify;
	
}
p {
    font-size: 1em;
	color: brown;
	line-height: 1.6;
	margin-bottom: 1em;
}

/* class uses . */
.aside1 {
    border: 1px solid green;
	width: 150px;
}
.aside2 {
    border: 1px solid red;
	list-style-type:none;
}
/* id uses hash tag. id must be unique. id is used 
in favour of class since it is more specific*/
#navigation {
    background: beige;
}
#unorderedList {
    background: tan;
}
.date {
    font-weight: bold;
	color: navy;
}
/* id --> unique */
#pageHeader {
    background: grey;
    padding: 15px;
}
#news {
    
}
h2#unListHead {
    width: 250px;
	padding: 15px;
	background: beige;
}
footer {
    background: #42403E;
	padding: 10px 0;
	color: white;
	text-align: center;
}
/*
font-weight: normal;
font-weight: lighter; --> 100-400
font-weight: bolder; --> 400-600
font-weight: bold; --> 700-900
font-weight: 400;

*/
.author {
    font-weight: 600;
	font-style: italic;
	color: navy;
	font-size: 1.4em;
}
h3.author {
    font-style: normal;
	color: black;
    font-variant: small-caps;
}

/* universal selector -- * -- styling reset */
/*
* {
    margin: 10;
	padding: 10;
}
*/
/* child style overrides parent styles --> inheritance */
/*
section {
    color: red;
}
*/
/* Descendent selectors */

header h1{
    background: #42403E;
	text-align: center;
	line-height: 75px;
	color: white;
}
article h3{
    color: #7D6855;
}
.mainContent h2 {
    background: #7D6855;
	padding: 5px 0;
	text-align: center;
	color: white;
}
article aside p {
    background: #D1956D;
	padding: 5px 0;
	text-align: center;
	color: white;
	
}
footer p {
    color: white;
}

/* article > h2 -- targeting direct childs */
article > h3 {
    color: #FFAD33;
}

aside ol > li {
    font-style: italic;
	color: red;
}
ul {
    list-style: none;
	margin: 0 0 50px;
	padding: 0;
}
nav p a:link {
    text-decoration: none;
	background: maroon;
	color: white;
	display: block;
	padding: 5px 10px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2px;
}
nav p a:visited {
    color: black;
}
nav p a:hover {
    background: orange;
}
nav p a:active {
    background: green;
}
h3:target {
    background: yellow;
}
a#coreConsepts {
    background: orange;
	/* keeps name of the page in the menu kinda pressed while on the page */
	
}

