.achievment{
    position:relative;
    width:200px;
    margin-bottom:20px;
    min-height:50px;
    padding:10px;
    border:1px solid #e5e5e5;
    border-radius:4px;
    padding-left:70px;
}
.badge{
    width:44px;
    height:44px;
    border:3px solid #e5e5e5;
    border-radius:4px;
    background-color:#7fc3e5;
    background-image:url('/themes/htmlacademy/img/icons/medal.png');
    position:absolute;
    left:10px;
}
.title{
    font-weight:bold;
    font-size:15px;
    margin-bottom:3px;
}
.description{
    color:#666;
    font-size:12px;
}
body{
    font-family:Helvetica,Arial,sans-serif;
}