.block-fixed{
    padding:10px;
    margin-bottom:20px;
    background:red;
    color:white;
    opacity:0.5;
    position:fixed;
    left:10px;
    top:10px;
}
.block{
    margin-bottom:20px;
    padding:10px;
    background:#3A78A1;
    color:white;
    min-height:100px;
}
body{
    padding:20px;
}