html, body{
    margin:0;
    padding:0;
}
body{
    width:280px;
    min-height:280px;
    padding:10px;
    font-family:Arial, sans-serif;
    font-size:14px;
    line-height:1.4;
    background:#ecf0f1;
}
.main-menu {
    padding:0;
    margin:0;
    list-style:none;
    width:200px;
    
}
.main-menu li a {
    padding:8px 14px;
    margin:0;
    background:#34495e;
    display:block;
    color:#FFFFFF;
    text-decoration:none;
    border-bottom: 2px solid #2C3E50;
}
.main-menu li ul {
    list-style:none;
    padding:5px 0px;
    margin:0;
    border-bottom:2px solid #2C3E50;
    background:#FFFFFF;
}
.main-menu li li a {
    
    text-decoration:underline;
    background:#FFFFFF;
    color:#C0392B;
    padding:5px 14px;
    border:none;
    

}
.main-menu>.active>a {
    background:#E74C3C;
    border-bottom: 2px solid #C0392B;
    
}
li a:hover {
    background:grey;
}
.main-menu li li a:hover {
    text-decoration:none;
}